// page background color
$page-background: linear-gradient(90deg, rgba(126,57,230,1) 0%, rgba(130,66,165,1) 100%);
// buttons hover color
$btn-hover-color: red;
// main font style
$font-main: Arial, Helvetica, sans-serif;
// borders main color
$border-color: lightgrey;